@font-face {
  font-family: 'Myriad Pro';
  src: url("../fonts/MyriadPro/MyriadPro-Regular.woff") format("woff"), url("../fonts/MyriadPro/MyriadPro-Regular.woff2") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans/OpenSans-SemiBold.woff") format("woff"), url("../fonts/OpenSans/OpenSans-SemiBold.woff2") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

.container-menu {
  width: 90%;
  margin: auto; }

.container {
  width: 80%;
  margin: auto; }

.row {
  display: flex;
  align-items: flex-start;
  justify-content: space-between; }

.col-20 {
  width: 20%; }

.col-25 {
  width: 25%; }

.col-30 {
  width: 30%; }

.col-30 {
  width: 35%; }

.col-40 {
  width: 40%; }

.col-45 {
  width: 45%; }

.col-50 {
  width: 50%; }

.col-55 {
  width: 50%; }

.col-60 {
  width: 60%; }

.col-65 {
  width: 65%; }

.col-70 {
  width: 70%; }

.col-80 {
  width: 80%; }

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0; }

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none; }

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none; }

*, *:before, *:after {
  box-sizing: border-box; }

html {
  font-size: 10px;
  background-color: #f7f4f2; }

.invalid {
  color: tomato;
  font-family: 'Myriad Pro';
  font-size: 1.5rem; }

.button {
  height: 5.2rem;
  border-radius: 0.3rem;
  background-color: #ff6600;
  color: #ffffff;
  font-family: 'Myriad Pro';
  font-size: 2rem;
  font-weight: 400;
  outline: none;
  border: none;
  margin-top: 4.5rem; }
  .button:hover {
    transform: scale(1.02); }

.input {
  outline: none;
  border: none;
  border-bottom: 2px solid #444444;
  border-radius: 1px;
  background-color: #222222;
  height: 5.4rem;
  border-radius: 0.3rem;
  font-family: 'Myriad Pro';
  font-size: 1.5rem;
  font-weight: 400;
  color: #ffffff; }

.scrollup {
  position: fixed;
  right: 10px;
  bottom: 10px;
  padding: 30px 30px 30px 30px;
  border: 1px solid #ff6600;
  border-radius: 50%;
  display: flex;
  margin: 0 10px 10px 0;
  justify-content: flex-end;
  background: url("../img/scrollup.png") no-repeat center; }
  .scrollup:focus {
    outline: none;
    box-shadow: 0px 5px 15px rgba(255, 102, 0, 0.5);
    transition: box-shadow 0.2s; }

@media (max-width: 700px) {
  .scrollup {
    padding: 25px 25px 25px 25px; } }

@media (max-width: 580px) {
  .scrollup {
    padding: 20px 20px 20px 20px; } }

.hero-tnx {
  height: 100vh; }

@media screen and (max-width: 5000px) {
  .hero, .hero-tnx {
    padding-bottom: 13.2rem; }
    .hero__subtitle, .hero-tnx__subtitle {
      margin-bottom: 25.6rem;
      font-size: 2.5rem;
      line-height: 3rem; }
    .hero__title, .hero-tnx__title {
      font-size: 8.4rem;
      line-height: 8rem;
      max-width: 44.6rem; }
  .logo__title {
    font-size: 3.3rem; }
  .logo__subtitle {
    font-size: 1.5rem; }
  .logo__content {
    padding-left: 2.2rem; }
  .menu {
    display: flex;
    flex-direction: row; }
  .nav__item {
    margin-left: 5.7rem;
    padding-bottom: 1.9rem;
    font-size: 1.6rem; }
    .nav__item:hover {
      color: #ffffff;
      border-bottom: 0.2rem solid #ffffff; }
  .characteristics {
    padding-top: 20rem;
    padding-bottom: 19.8rem; }
    .characteristics-right {
      margin-top: 15rem; }
    .characteristics__subtitle {
      margin-bottom: 8.3rem; }
  .clients {
    padding-top: 14.5rem;
    padding-bottom: 15.6rem; }
    .clients__subtitle {
      margin: 3.5rem auto 13.1rem auto; }
    .clients__card {
      padding-right: 15rem; }
    .clients__cards {
      display: flex;
      flex-direction: row;
      justify-content: center;
      width: 110%; }
      .clients__cards-one, .clients__cards-two {
        display: flex;
        justify-content: center; }
  .car {
    padding-top: 19.9rem;
    padding-bottom: 19.1rem; }
    .car-description {
      padding-left: 10rem; }
    .car__title {
      margin-bottom: 11.2rem; }
  .order {
    padding-bottom: 15.7rem; }
    .order__price {
      display: flex; }
    .order__content {
      justify-content: space-around;
      padding-top: 19.9rem; }
    .order__list {
      max-width: 40rem; }
  .slider2__btn_prev, .slider2__btn_next {
    top: 160px; }
  .video {
    padding-bottom: 18rem; }
    .video__offer {
      margin-right: 15rem; }
    .video__text {
      width: 275px;
      margin-right: 12.1rem;
      font-size: 2.7rem; }
    .video__main {
      max-width: 100.3rem;
      min-height: 50.6rem;
      margin-top: -20rem; }
  .footer__item {
    font-size: 1.7rem; }
  .footer__floor {
    margin-left: 10rem;
    margin-right: 12rem; }
  .footer__title {
    margin-bottom: 5.3rem; }
  .footer__content {
    padding-bottom: 11.3rem; }
  .footer__icon {
    margin-right: 1.8rem; }
  .requisite {
    padding-right: 10rem; }
  .ai__text {
    font-size: 1.9rem; }
  .ai__title {
    font-size: 7.5rem; }
  .date__title {
    font-size: 7.5rem;
    margin-bottom: 4.6rem; }
  .document {
    margin-right: 10rem;
    max-width: 20.5rem; }
    .document__text {
      margin-top: 4.3rem;
      font-size: 1.9rem;
      line-height: 3rem; }
  .like__title {
    margin: 4.3rem 0 2rem 0; }
  .input {
    width: 30.6rem; }
  .button {
    width: 30.6rem; }
  .header__burger {
    display: none; }
  .menu {
    display: flex;
    align-items: center;
    justify-content: space-between; } }

@media screen and (max-width: 2300px) {
  .requisite {
    padding-right: 5rem; } }

@media screen and (max-width: 1876px) {
  .footer__floor {
    margin-left: 0rem;
    margin-right: 0rem; } }

@media screen and (max-width: 1161px) {
  .characteristics-right {
    margin-top: 0rem; } }

@media screen and (max-width: 1537px) {
  .slider3 {
    margin-top: 5rem; } }

@media screen and (max-width: 1500px) {
  .video__main {
    max-width: 80.3rem;
    min-height: 40.6rem; } }

@media screen and (max-width: 1400px) {
  .video__offer {
    margin-right: 0rem; }
  .footer__floor {
    margin-left: 0rem; } }

@media screen and (max-width: 1350px) {
  .clients__card {
    padding-right: 2rem;
    max-width: 30rem; }
  .video__text {
    margin-right: 0rem;
    font-size: 2.5rem; } }

@media screen and (max-width: 1335px) {
  .clients__card {
    padding-right: 5rem;
    max-width: 20rem; } }

@media screen and (max-width: 1300px) {
  .video__main {
    max-width: 70.3rem;
    min-height: 40.6rem; } }

@media screen and (max-width: 1256px) {
  .document {
    margin-right: 5rem; }
  .ai {
    margin-right: 5rem; } }

@media screen and (max-width: 1240px) {
  .clients {
    padding-top: 10rem;
    padding-bottom: 10rem; }
    .clients__subtitle {
      margin-bottom: 5rem; } }

@media screen and (max-width: 1200px) {
  .video__text {
    font-size: 2rem;
    margin-right: 1rem;
    width: 200px; } }

@media screen and (max-width: 1186px) {
  .nav__item {
    margin-left: 2rem; } }

@media screen and (max-width: 1170px) {
  .nav__item {
    margin-left: 2rem; }
  .video__main {
    max-width: 60.3rem;
    min-height: 40.6rem; } }

@media screen and (max-width: 1160px) {
  .characteristics {
    padding-top: 10rem;
    padding-bottom: 10rem; }
    .characteristics__transmission, .characteristics__mileage {
      display: none; }
    .characteristics__content {
      display: flex;
      flex-direction: column; } }

@media screen and (max-width: 1070px) {
  .car-description {
    padding-left: 5rem; } }

@media screen and (max-width: 1060px) {
  .car {
    padding-top: 10rem;
    padding-bottom: 10rem; }
    .car-wrap {
      flex-direction: column-reverse; }
    .car__title {
      margin-bottom: 2rem; }
    .car-description {
      padding-left: 0rem;
      justify-content: center;
      margin-bottom: 2rem; }
  .slider2 {
    width: 600px; }
  .slider2__btn_prev, .slider2__btn_next {
    top: 130px; }
  .video__offer {
    margin-right: 0rem; }
  .video__text {
    margin-right: 2rem; } }

@media screen and (max-width: 1050px) {
  .order {
    padding-bottom: 5rem; }
    .order__content {
      justify-content: flex-start;
      padding-top: 10rem; }
    .order__price {
      margin-top: 2rem; }
    .order__title {
      margin-right: 5rem; }
  .nav__item {
    font-size: 1.4rem; } }

@media screen and (max-width: 990px) {
  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px; }
    .header__burger:before, .header__burger:after {
      content: "";
      background-color: #ffffff;
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0;
      right: 0;
      transition: all 0.3s ease 0s; }
    .header__burger:before {
      top: 0; }
    .header__burger:after {
      bottom: 0; }
    .header__burger span {
      position: absolute;
      background-color: #ffffff;
      position: absolute;
      left: 0;
      width: 100%;
      height: 2px;
      top: 9px;
      transition: all 0.3s ease 0s; }
  .header__burger.active:before {
    transform: rotate(45deg);
    top: 9px; }
  .header__burger.active:after {
    transform: rotate(-45deg);
    bottom: 9px; }
  .header__burger.active span {
    transform: scale(0); }
  .menu__nav {
    display: none; }
  .menu__nav.active {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 13rem; }
  .menu {
    display: flex;
    flex-direction: row;
    align-items: flex-start; }
  .menu.active {
    padding-top: 9.2rem; }
  .nav {
    padding-top: 3rem; }
    .nav__item {
      display: flex;
      flex-direction: column;
      padding-bottom: 1.5rem;
      margin-left: 0; }
      .nav__item:hover {
        color: #ffffff;
        border-bottom: none; }
  .menu {
    display: flex;
    justify-content: space-between; }
  .menu-right {
    display: flex;
    flex-direction: column;
    justify-content: start; } }

@media screen and (max-width: 1020px) {
  .order__form, .order__price {
    padding-bottom: 4rem; }
  .order__title {
    margin-bottom: 4rem; } }

@media screen and (max-width: 1000px) {
  .video__text {
    font-size: 1.5rem;
    margin-right: 2rem;
    width: 200px; } }

@media screen and (max-width: 990px) {
  .clients__cards {
    display: flex;
    justify-content: center; }
    .clients__cards-one, .clients__cards-two {
      display: flex;
      flex-direction: column;
      justify-content: center; }
  .clients__card {
    margin-top: 7rem; } }

@media screen and (max-width: 970px) {
  .clients__cards {
    margin-bottom: 6rem; }
  .video__main {
    max-width: 60.3rem;
    min-height: 40.6rem;
    margin-top: -20rem; }
  .video__text {
    font-size: 2rem;
    padding-bottom: 5rem; }
  .hero__text, .hero__subtext {
    display: none; } }

@media screen and (max-width: 840px) {
  .order__content {
    flex-direction: column; }
  .order__price {
    display: none; }
  .order__list {
    max-width: 30.6rem; }
  .footer__text {
    display: none; }
  .video__main {
    max-width: 80rem;
    min-height: 30rem;
    margin-top: 20rem; } }

@media screen and (max-width: 800px) {
  .characteristics__title {
    font-size: 5rem;
    margin-bottom: 0; }
  .characteristics__subtitle {
    font-size: 2rem;
    margin-bottom: 5rem; }
  .slider2 {
    width: 500px; }
  .slider2__btn_prev, .slider2__btn_next {
    top: 130px; } }

@media screen and (max-width: 760px) {
  .car {
    padding-bottom: 10rem;
    padding-top: 10rem; }
  .characteristics {
    padding-bottom: 10rem;
    padding-top: 10rem; }
  .clients {
    padding-bottom: 10rem;
    padding-top: 10rem; }
  .order {
    padding-bottom: 5rem; }
    .order__content {
      padding-top: 5rem; } }

@media screen and (max-width: 740px) {
  .characteristics {
    padding-top: 10rem;
    padding-bottom: 10rem; }
  .document__text {
    font-size: 1.5rem; }
  .ai__text {
    font-size: 1.5rem; }
  .ai__title {
    font-size: 5rem; }
  .date__title {
    font-size: 5rem; }
  .date__door {
    font-size: 2.5rem; }
  .date__people {
    font-size: 2.5rem; }
  .video__main {
    max-width: 60rem;
    min-height: 30rem;
    margin-top: -15rem; } }

@media screen and (max-width: 730px) {
  .clients {
    padding-bottom: 7rem;
    padding-top: 7rem; } }

@media screen and (max-width: 710px) {
  .slider3 {
    transform: scale(0);
    max-height: 1rem; }
  .footer__content {
    padding-bottom: 2rem; } }

@media screen and (max-width: 690px) {
  .menu {
    display: flex;
    align-items: flex-start; }
  .header__burger {
    margin-top: 2rem; }
  .header__burger.active {
    margin-top: 0rem; }
  .menu-right.active {
    margin-top: 2rem; }
  .characteristics {
    padding-bottom: 5rem;
    padding-top: 5rem; }
    .characteristics-top {
      display: flex;
      flex-direction: column; }
    .characteristics-bottom {
      display: flex;
      flex-direction: column; }
    .characteristics-right {
      display: flex;
      flex-direction: column; }
    .characteristics__subtitle {
      margin-bottom: 4rem; }
  .ai, .document, .like {
    padding-bottom: 4rem; }
  .video {
    padding-bottom: 0rem; }
    .video__main {
      max-width: 60rem;
      min-height: 20rem; }
    .video__content {
      margin-top: 20rem; }
  .hero__subtitle {
    margin-bottom: 2rem; }
  .ai__title {
    font-size: 5rem; }
  .ai__text {
    font-size: 1.4rem; }
  .date__title {
    font-size: 5rem;
    margin-bottom: 2rem; }
  .document {
    margin-right: 4rem;
    max-width: 25.5rem; }
    .document__text {
      margin-top: 2rem;
      font-size: 1.5rem;
      line-height: 2rem; }
  .like {
    padding-bottom: 0rem; }
    .like__title {
      margin: 2rem 0 2rem 0; } }

@media screen and (max-width: 670px) {
  .slider2 {
    width: 400px; }
  .slider2__btn_prev, .slider2__btn_next {
    top: 90px; }
  .footer-right {
    flex-wrap: wrap; } }

@media screen and (max-width: 630px) {
  .footer__text {
    display: none; } }

@media screen and (max-width: 618px) {
  .footer__title {
    margin-bottom: 2rem; }
  .footer__item {
    font-size: 1.5rem; } }

@media screen and (max-width: 580px) {
  .hero {
    padding-bottom: 5rem; }
    .hero__title {
      max-width: 20rem;
      font-size: 4.2rem;
      line-height: 5rem; }
    .hero__subtitle {
      font-size: 1.3rem;
      line-height: 2rem;
      margin-bottom: 7rem; }
  .slider2 {
    width: 350px; }
  .slider2__btn_prev, .slider2__btn_next {
    top: 75px; }
  .video__main {
    margin-top: 10rem;
    max-width: 40rem;
    min-height: 15rem; }
  .video__floor {
    flex-wrap: wrap; } }

@media screen and (max-width: 560px) {
  .clients__title {
    font-size: 2.5rem; }
  .clients__subtitle {
    font-size: 1.2rem; } }

@media screen and (max-width: 530px) {
  .clients__card {
    margin-bottom: 0; } }

@media screen and (max-width: 520px) {
  .menu.active {
    display: flex;
    flex-direction: column;
    padding-bottom: 0rem; } }

@media screen and (max-width: 495px) {
  .logo__title {
    font-size: 2.6rem; }
  .logo__subtitle {
    font-size: 1.5rem; }
  .logo__content {
    padding-left: 1rem; } }

@media screen and (max-width: 490px) {
  .clients__cards {
    display: flex;
    flex-direction: column; }
    .clients__cards-one, .clients__cards-two {
      display: flex;
      flex-direction: column;
      padding-bottom: 0rem;
      margin: auto; }
  .clients__card {
    padding-bottom: 1rem;
    margin-top: 5rem; }
  .clients__subtitle {
    margin-bottom: 10rem; } }

@media screen and (max-width: 490px) {
  .clients {
    padding-bottom: 0rem; }
    .clients__subtitle {
      margin-bottom: 5rem; }
  .car {
    padding-top: 4rem;
    padding-bottom: 4rem; } }

@media screen and (max-width: 484px) {
  .clients__subtitle {
    margin-bottom: 0rem; } }

@media screen and (max-width: 480px) {
  .slider2 {
    transform: scale(0);
    max-height: 1rem; }
  .slider-counter {
    display: none; } }

@media screen and (max-width: 422px) {
  .contacts {
    margin-top: 4rem; } }

@media screen and (max-width: 412px) {
  .footer__icon {
    margin-right: 5rem;
    margin-top: 2rem; } }

@media screen and (max-width: 380px) {
  .clients__title {
    font-size: 2rem; }
  .clients__subtitle {
    font-size: 1.2rem; } }

@media screen and (max-width: 370px) {
  .order__list {
    max-width: 23.6rem; }
  .input {
    width: 23.6rem; }
  .button {
    width: 23.6rem; } }

@media screen and (max-width: 360px) {
  .video {
    max-height: 20rem; }
    .video__text {
      margin-right: 0rem; }
    .video__floor {
      transform: scale(0);
      max-height: 1rem; }
  .clients {
    padding-top: 0rem; } }

.menu {
  color: #ffffff;
  padding-top: 9.2rem;
  padding-bottom: 5.3rem; }

.logo {
  display: flex; }
  .logo a {
    text-decoration: none; }
  .logo__content {
    display: flex;
    flex-direction: column; }
  .logo__title {
    color: #ffffff;
    padding-bottom: 0.7rem;
    font-family: 'Myriad Pro';
    font-weight: 600;
    letter-spacing: 0.1rem; }
  .logo__subtitle {
    color: #dddddd;
    text-decoration: none;
    font-family: 'Myriad Pro';
    font-weight: 400;
    letter-spacing: 0.1rem; }

.nav__item {
  color: #dddddd;
  text-decoration: none;
  font-family: 'Open Sans';
  font-weight: 400;
  letter-spacing: 0.1rem; }

.header-hero {
  background: #000000 url("../img/main-hero.jpg") no-repeat center/cover; }

.hero__title, .hero-tnx__title {
  max-height: 24.4rem;
  color: #ffffff;
  font-family: 'Myriad Pro';
  font-weight: 900;
  letter-spacing: 0.3rem;
  margin-bottom: 3.1rem; }

.hero__subtitle, .hero-tnx__subtitle {
  max-width: 26.9rem;
  max-height: 6rem;
  color: #dddddd;
  font-family: 'Myriad Pro';
  font-weight: 400;
  letter-spacing: 0.1rem; }

.hero__text, .hero-tnx__text {
  color: #ffffff;
  font-family: 'Myriad Pro';
  font-size: 3.5rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  margin-bottom: 2.8rem; }

.hero__subtext, .hero-tnx__subtext {
  color: #dddddd;
  font-family: 'Myriad Pro';
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: 0.05rem; }

.subtitle__thanks {
  margin-bottom: 10rem; }

.title__thanks {
  margin-top: 5rem; }

.video__main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  background: url(../img/main-video.png) no-repeat center/cover;
  margin-bottom: 14.3rem;
  margin-top: -30rem; }

.video__border {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px; }
  .video__border:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 90px;
    border: 1px solid #ff823d;
    border-radius: 50%; }
  .video__border-slides {
    position: absolute;
    top: 49px;
    left: 122px;
    margin: auto;
    width: 90px;
    height: 90px; }

.video__play {
  position: relative;
  cursor: pointer; }

.video__floor {
  display: flex;
  justify-content: center; }

.video__text {
  height: 95px;
  color: #000000;
  font-family: 'Myriad Pro';
  font-weight: 400;
  padding-bottom: 15rem; }
  .video__text-exlus {
    color: #ff6600; }

.video__all {
  display: flex; }
  .video__all-text {
    color: #000000;
    font-family: 'Myriad Pro';
    font-size: 1.5rem;
    font-weight: 600;
    padding-right: 2rem;
    text-decoration: none; }
  .video__all-icon {
    padding-top: 2px; }

.play_btn:hover, .play_btn2:hover {
  cursor: pointer; }

@media (max-width: 1250px) {
  .slider1 {
    width: 300px; } }

@media (min-width: 991px) {
  .slider1 {
    width: 760px; } }

.desc > span {
  color: #444444;
  font-family: 'Myriad Pro';
  font-size: 1.5rem; }
  .desc > span:hover {
    color: #17bebb; }

.slider__btn_prev, .slider__btn_next {
  width: 50px;
  height: 50px;
  border: none;
  outline: none; }

.slider__nav {
  position: absolute;
  width: 100%;
  top: 0; }

.slider__btn_prev {
  background: url("../img/car/prev.png");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  left: -30px;
  top: 62px; }

.slider__btn_next {
  background: url("../img/car/next.png");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  right: -30px;
  top: 62px; }
  .slider__btn_next::before {
    display: none; }

.slider1__item .img {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-bottom: 2.6rem; }

.slider1__item .play_btn {
  position: absolute;
  border: none;
  background: none;
  outline: none; }

.slider1__item .desc {
  color: #fff;
  padding: 5px; }

.slider1__item .overlay {
  width: 100%;
  height: 20.5rem;
  background: rgba(23, 190, 187, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: all .2s;
  z-index: 120; }

.slider1__item:hover .overlay {
  opacity: 1 !important; }

.slider1__item:hover .desc > span {
  color: #17bebb; }

.slider1__item:hover .video__border-slides {
  border: 1px solid #39bac1;
  border-radius: 50%;
  z-index: 120;
  top: 55px;
  left: 135px; }

.play_btn, .play_btn2 {
  z-index: 150; }

@media screen and (max-width: 990px) {
  .slider1__item:hover .video__border-slides {
    top: 40px;
    left: 105px; }
  .slider1__item .overlay {
    width: 100%;
    height: 17rem; } }

.clients {
  background-color: #ffffff;
  overflow-y: hidden; }
  .clients__card {
    max-width: 35rem; }
  .clients__title {
    max-width: 36.9rem;
    color: #000000;
    font-family: 'Myriad Pro';
    font-size: 3.7rem;
    font-weight: 600;
    margin: auto; }
  .clients__subtitle {
    max-width: 27.7rem;
    color: #777777;
    font-family: 'Myriad Pro';
    font-size: 1.6rem;
    font-weight: 400; }
  .clients__name {
    max-width: 14.6rem;
    height: 1.3rem;
    color: #000000;
    font-family: 'Myriad Pro';
    font-size: 1.6rem;
    font-weight: 900;
    margin-top: 3.6rem;
    margin-bottom: 3.1rem;
    padding-left: 2.8rem; }
  .clients__comment {
    width: 20rem;
    max-height: 10.7rem;
    color: #777777;
    font-family: 'Myriad Pro';
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2.5rem;
    padding-left: 2.8rem; }

.car-wrap {
  display: flex;
  justify-content: center; }

.car__title {
  max-width: 20rem;
  max-height: 7.5rem;
  color: #000000;
  font-family: 'Myriad Pro';
  font-size: 3.7rem;
  font-weight: 900;
  letter-spacing: 0.1rem;
  line-height: 4rem; }

.car__subtitle {
  max-width: 16.7rem;
  max-height: 1.9rem;
  color: #000000;
  font-family: 'Myriad Pro';
  font-size: 2.5rem;
  font-weight: 900;
  letter-spacing: 0.1rem;
  margin-bottom: 5rem; }

.car__text {
  max-width: 30.4rem;
  color: #000000;
  font-family: 'Myriad Pro';
  font-size: 1.7rem;
  font-weight: 400;
  letter-spacing: 0.05rem;
  margin-bottom: 3rem; }

.car__subtext {
  max-width: 30.4rem;
  color: #444444;
  font-family: 'Myriad Pro';
  font-size: 1.4rem;
  font-weight: 400;
  letter-spacing: 0.05rem;
  line-height: 1.5rem; }

.slider2 {
  max-width: 75rem; }

.slider2__item .img {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 75rem;
  height: 100%; }

.slider2__btn_prev, .slider2__btn_next {
  width: 60px;
  height: 60px;
  border: none;
  outline: none; }

.slider2__btn_prev {
  background: url("../img/car/prev.png");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  left: -30px; }

.slider2__btn_next {
  background: url("../img/car/next.png");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  right: -30px; }

.slider-counter {
  margin-top: 2rem;
  margin-left: 4rem; }

.slider-counter .num1 {
  color: #000000;
  font-size: 2rem;
  font-family: 'Myriad Pro';
  font-weight: 600; }

.slider-counter .num2 {
  color: #777777;
  font-size: 1.5rem;
  font-family: 'Myriad Pro';
  font-weight: 400; }

.slider-counter .slash {
  color: #777777;
  font-size: 1.5rem;
  margin-left: 46px;
  margin-right: 20px;
  font-family: 'Myriad Pro';
  font-weight: 400; }

.characteristics {
  position: relative;
  background: #000000 url("../img/main-hero.jpg") no-repeat center/cover; }
  .characteristics::before {
    content: '';
    background-color: rgba(34, 34, 34, 0.95);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%; }
  .characteristics-top, .characteristics-bottom {
    display: flex;
    justify-content: space-between;
    max-width: 64.4rem; }
  .characteristics-top {
    margin-bottom: 7.4rem; }
  .characteristics__content {
    position: relative;
    display: flex;
    justify-content: space-around; }
  .characteristics__title {
    max-width: 17.9rem;
    max-height: 6rem;
    color: #ffffff;
    font-family: 'Myriad Pro';
    font-size: 7.5rem;
    font-weight: 900;
    letter-spacing: 0.4rem;
    margin-bottom: 3.5rem; }
  .characteristics__subtitle {
    max-width: 19rem;
    max-height: 2.5rem;
    color: #ffffff;
    font-family: 'Myriad Pro';
    font-size: 2.5rem;
    font-weight: 400; }
  .characteristics__transmission {
    margin-bottom: 4.5rem; }

.ai {
  max-width: 17.6rem;
  margin-right: 10rem; }
  .ai__title {
    color: #ffffff;
    font-family: 'Myriad Pro';
    font-weight: 900;
    margin-bottom: 2.2rem; }
  .ai__text {
    max-width: 12.4rem;
    max-height: 7.2rem;
    color: #ffffff;
    font-family: 'Myriad Pro';
    font-weight: 400; }
    .ai__text-item {
      margin-bottom: 1rem; }
  .ai__plus {
    display: flex;
    flex-direction: column;
    margin-left: 4.3rem; }
  .ai__subtitle {
    max-width: 2.1rem;
    max-height: 1.9rem;
    color: #17bebb;
    font-family: 'Myriad Pro';
    font-size: 2rem;
    font-weight: 600;
    padding-top: 1rem;
    margin-bottom: 2.5rem; }
  .ai-main {
    display: flex; }

.date {
  max-width: 24.9rem; }
  .date__main {
    display: flex; }
  .date__title {
    color: #ffffff;
    font-family: 'Myriad Pro';
    font-weight: 900; }
  .date__subtitle {
    max-width: 4.4rem;
    max-height: 1.9rem;
    color: #17bebb;
    font-family: 'Myriad Pro';
    font-size: 2rem;
    font-weight: 600;
    margin-left: 4rem;
    padding-top: 1rem; }
  .date__row {
    display: flex; }
  .date__people, .date__door {
    color: #ffffff;
    font-family: 'Myriad Pro';
    font-size: 3rem;
    font-weight: 400;
    margin: 0 1.1rem 0 1.1rem;
    padding-top: 1rem; }

.document__text {
  color: #ffffff;
  font-family: 'Myriad Pro';
  font-weight: 400; }

.bright {
  color: #ff6600;
  margin: 0; }

.like {
  max-width: 25rem; }
  .like__title {
    color: #ffffff;
    font-family: 'Myriad Pro';
    font-size: 1.85rem;
    font-weight: 400; }
  .like__text {
    color: #777777;
    font-family: 'Myriad Pro';
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2rem; }

.order {
  background-color: #222222; }
  .order__form {
    display: flex;
    flex-direction: column;
    max-width: 50rem; }
  .order__input-group {
    display: flex;
    flex-direction: column; }
  .order__content {
    display: flex;
    border-top: 0.1rem solid #444444;
    flex-wrap: wrap; }
  .order__title {
    max-width: 19.8rem;
    max-height: 13rem;
    color: #ffffff;
    font-family: 'Myriad Pro';
    font-size: 3.4rem;
    font-weight: 600;
    line-height: 4.5rem; }
  .order__button {
    margin-bottom: 2.7rem; }
  .order__promo {
    max-width: 25.6rem;
    text-align: center;
    font-family: 'Myriad Pro';
    font-size: 1.45rem;
    font-weight: 400;
    color: #777777;
    text-decoration: none; }
    .order__promo:hover {
      color: #17bebb;
      text-decoration: underline;
      cursor: pointer; }
  .order__list {
    height: 9rem;
    border-radius: 3px;
    border: 1px solid #444444;
    background-color: #222222;
    outline: none;
    color: #ffffff;
    font-family: 'Myriad Pro';
    font-size: 2.5rem;
    font-weight: 400; }
  .order__item {
    color: #ffffff;
    font-family: 'Myriad Pro';
    font-size: 1.5rem;
    font-weight: 400;
    padding-left: 5rem; }
  .order__percent {
    color: #777777;
    font-family: 'Myriad Pro';
    font-size: 1rem;
    font-weight: 400; }
  .order__price {
    flex-direction: column; }

.price {
  display: flex; }
  .price-value {
    max-width: 20.4rem;
    max-height: 6.2rem;
    color: #ffffff;
    font-family: 'Myriad Pro';
    font-size: 8rem;
    font-weight: 600;
    margin-bottom: 2.5rem; }
  .price-currency {
    color: #777777;
    font-family: 'Myriad Pro';
    font-size: 2.5em;
    font-weight: 900;
    padding-left: 2rem;
    padding-top: 0.5rem; }
  .price-old {
    max-width: 7.2rem;
    height: 1.8rem;
    color: #17bebb;
    font-family: 'Myriad Pro';
    font-size: 2.5rem;
    font-weight: 400;
    text-decoration: line-through;
    padding-left: 1rem; }

.footer {
  background-color: #222222; }
  .footer__content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; }
  .footer-right {
    display: flex;
    justify-content: flex-start; }
  .footer__title {
    margin-top: 0;
    max-width: 8.7rem;
    max-height: 1.2rem;
    color: #ffffff;
    font-family: 'Myriad Pro';
    font-size: 1.8rem;
    font-weight: 400; }
  .footer__item {
    max-width: 16rem;
    color: #777777;
    font-family: 'Myriad Pro';
    font-weight: 400;
    margin-bottom: 1.5rem;
    text-decoration: none; }
    .footer__item:hover {
      color: #17bebb;
      text-decoration: underline;
      cursor: pointer; }
  .footer__floor {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 8rem; }
  .footer__icons {
    display: flex;
    flex-wrap: wrap; }
  .footer__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 54px;
    height: 54px;
    border: 1px solid #444444;
    border-radius: 50%; }
    .footer__icon:hover {
      cursor: pointer;
      border: 1px solid #17bebb; }
  .footer__img path:hover {
    cursor: pointer;
    fill: #17bebb; }
  .footer__text {
    max-width: 18.3rem;
    max-height: 1.3rem;
    color: #444444;
    font-family: 'Myriad Pro';
    font-size: 1.4rem;
    font-weight: 400;
    padding-top: 1.5rem; }

@media (max-width: 2500px) {
  .slider3 {
    width: 706px;
    height: 250px; } }

@media (min-width: 800px) {
  .slider3 {
    width: 706px; }
    .slider3__content {
      width: 690px; } }

.slider3 {
  background: url("../img/footer/footer-slide-bg.png") no-repeat center/cover; }

.slider3__item {
  width: 690px; }

.slider3__btn_prev, .slider3__btn_next {
  width: 12px;
  height: 12px;
  border: none;
  outline: none; }

.slider3__btn_prev {
  background: url("../img/footer/footer-prev.svg");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  left: 590px;
  top: 190px; }
  .slider3__btn_prev::hover {
    cursor: pointer;
    fill: #17bebb; }

.slider3__btn_prev path::hover {
  cursor: pointer;
  color: #ffffff; }

.slider3__btn_next {
  background: url("../img/footer/footer-next.svg");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  right: 60px;
  top: 190px; }
  .slider3__btn_next::hover {
    cursor: pointer;
    fill: #17bebb; }

.slider3__title {
  color: #ffffff;
  font-family: 'Myriad Pro';
  font-size: 1.8rem;
  font-weight: 400;
  max-width: 320px;
  line-height: 2.5rem;
  padding-top: 4rem;
  padding-left: 7rem; }

.slider3__subtitle {
  color: #777777;
  font-family: 'Myriad Pro';
  font-size: 1.7rem;
  font-weight: 400;
  max-width: 300px;
  line-height: 2.2rem;
  padding-top: 4rem;
  padding-left: 7rem; }

.slider3__subtitle > span {
  color: #ffffff; }

.slider3__numeral {
  display: flex;
  position: absolute;
  left: 550px;
  top: 40px; }

.slider3__amount {
  color: #777777;
  font-family: 'Myriad Pro';
  font-size: 1.5rem;
  font-weight: 400; }

.slider3__slash {
  color: #777777;
  font-family: 'Myriad Pro';
  font-size: 1.5rem;
  font-weight: 400;
  margin-left: 2rem; }

.slider3__number {
  color: #ffffff;
  font-family: 'Myriad Pro';
  font-size: 2rem;
  font-weight: 400;
  margin-left: 4rem; }
