.car
  &-wrap
    display: flex
    justify-content: center
  &__title
    max-width: 20rem
    max-height: 7.5rem
    color: $dark
    font-family: 'Myriad Pro'
    font-size: 3.7rem
    font-weight: 900
    letter-spacing: 0.1rem
    line-height: 4rem
  &__subtitle
    max-width: 16.7rem
    max-height: 1.9rem
    color: $dark
    font-family: 'Myriad Pro'
    font-size: 2.5rem
    font-weight: 900
    letter-spacing: 0.1rem
    margin-bottom: 5rem
  &__text
    max-width: 30.4rem
    color: $dark
    font-family: 'Myriad Pro'
    font-size: 1.7rem
    font-weight: 400
    letter-spacing: 0.05rem
    margin-bottom: 3rem
  &__subtext
    max-width: 30.4rem  
    color: #444444
    font-family: 'Myriad Pro'
    font-size: 1.4rem
    font-weight: 400
    letter-spacing: 0.05rem
    line-height: 1.5rem

.slider2
  max-width: 75rem
.slider2__item .img 
  position: relative
  display: flex
  justify-content: center
  align-items: center
  max-width: 75rem
  height: 100%
.slider2__btn_prev, .slider2__btn_next 
    width: 60px
    height: 60px
    border: none
    outline: none   
.slider2__btn_prev 
    background: url('../img/car/prev.png')
    background-repeat: no-repeat
    background-size: contain
    position: absolute
    left: -30px
.slider2__btn_next 
    background: url('../img/car/next.png')
    background-repeat: no-repeat
    background-size: contain
    position: absolute
    right: -30px

.slider-counter
  margin-top: 2rem
  margin-left: 4rem
.slider-counter .num1 
    color: $dark
    font-size: 2rem
    font-family: 'Myriad Pro'
    font-weight: 600
.slider-counter .num2 
    color: $dim
    font-size: 1.5rem
    font-family: 'Myriad Pro'
    font-weight: 400
.slider-counter .slash 
    color: $dim
    font-size: 1.5rem
    margin-left: 46px
    margin-right: 20px
    font-family: 'Myriad Pro'
    font-weight: 400
   
  




  