.menu
  color: $light 
  display: flex
  align-items: center
  justify-content: space-between
  padding-top: 9.2rem
  padding-bottom: 5.3rem
.logo
  display: flex
  &__content
    width: 22.4rem
    display: flex
    flex-direction: column
    padding-left: 2.2rem
  &__title
    color: $light
    text-decoration: none
    font-family: 'Myriad Pro'
    font-size: 3.3rem
    font-weight: 600
    letter-spacing: 0.1rem
    padding-bottom: 0.7rem
  &__subtitle
    color: $secondary
    text-decoration: none
    font-family: 'Myriad Pro'
    font-size: 1.5rem
    font-weight: 400
    letter-spacing: 0.1rem
.nav
  &__item
    color: $secondary
    text-decoration: none
    margin-left: 5.7rem
    font-family: 'Open Sans'
    font-size: 1.4rem
    font-weight: 400
    letter-spacing: 0.1rem