.footer-hero
   background: $dark url('../img/main-hero.jpg') no-repeat center / cover
.hero
  padding-bottom: 13.2rem
  &__content
  &__title
    width: 44.6rem
    height: 24.4rem
    color: $light
    font-family: 'Myriad Pro'
    font-size: 8.4rem
    font-weight: 900
    letter-spacing: 0.3rem
    line-height: 8rem
    margin-bottom: 3.1rem
  &__subtitle
    width: 26.9rem
    height: 6rem
    color: $secondary
    font-family: 'Myriad Pro'
    font-size: 2.5rem
    font-weight: 400
    letter-spacing: 0.1rem
    line-height: 3rem
    margin-bottom: 25.6rem
  &__text
    width: 35.8rem
    height: 3.4rem
    color: $light
    font-family: 'Myriad Pro'
    font-size: 3.5rem
    font-weight: 600
    letter-spacing: 0.1rem
    margin-bottom: 2.8rem
  &__subtext
    width: 34.3rem
    height: 1.4rem
    color: $secondary
    font-family: 'Myriad Pro'
    font-size: 1.4rem
    font-weight: 400
    letter-spacing: 0.05rem
   